html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}
}
html, body {
	height: 100%;
}
body {
	background: #c0dbb4;
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 3rem;
	color: #523d3d;
    margin top: 5%;
    text-align: center;
}
h1{
  margin-bottom: 0px;
}
p{
  margin-top: 5px;
  margin-bottom:1px;
  padding: 5px;
}

.input_div{
    background-color: azure;
    color: #000000;
    padding: 20px;
    margin: 1%;
    border-radius: 10px;
}
/* CSS */
.button-13 {
  background-color: rgb(122, 197, 126);
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #0a899c;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
input, select{
    border-radius: 5px;
}
.result{
  margin: 1%;
  padding: 20px;
  border-radius: 10px;
  background-color: #0a899c;
}
.made{
  text-align: end;
}