html, body {
	height: 100%;
}
body {
	background: #c0dbb4;
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 3rem;
	color: #523d3d;
    margin top: 5%;
    text-align: center;
}
h3{
    width: 33%;
}
